<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fa.training.ex5.mapper.RoleMapper">
    <select id="findAll" resultType="Role">
        SELECT role_id, role_name
        FROM role
    </select>

    <select id="findByRoleName" parameterType="String" resultType="Role">
        SELECT role_id, role_name
        FROM role
        WHERE role_name = #{roleName}
    </select>
</mapper>